.navbar{
    background-color: #e3f2fd;
}
.navbar-brand{
    padding: 15px;;
}
.mainbody{
    margin-top: 5%;
    border: 1.5px solid skyblue;
    border-radius: 15px;
    border-spacing: 10px;
    border-width: 3px;
    padding: 16px;
}
.addbtn{
    float: right;
    margin-bottom: 16px;
}
.row{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.card{
    margin-right: 30px;
    width: 400px;
    display: flex;
}
.create_cate{
    text-decoration: underline;
}
.categorydiv{
    border-right: 1px solid black;
}
 
.modal-content{
    width: 1000px;
}
.deleteclass{
    display: inline;
}