.navbar
{
    background-color: #e3f2fd;
}
.navbar-brand
{
    padding: 15px;
}
.mainbody
{
     margin-top: 5%; 
    border: 1.5px solid skyblue;
    border-radius: 15px;
    border-spacing: 10px;
    border-width: 3px;
    padding: 16px;
}
.addbtn
{
    float: right;
    margin-bottom: 16px;
}
.row
{
    margin-top: 30px;
}
.productsrow
{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;

}
.card
{
     margin-right: 10px;
    width: 400px; 
    display: flex;
}
.create_cate
{
    text-decoration: underline;
}
.categorydiv
{
    border-right: 1px solid black;
}
 
.modal-content
{
    width: 1000px;
}
.deleteclass
{
    display: inline;
}
.sidebar
{
    background-color: #e3f2fd;
    height: auto;
}
.filterselect
{
    width: 190px;
    height: 30px;
}
.sidebarul
{
    margin-top: 10%;
}
.sidebaritems
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sidebaritems a
{
    text-decoration: none;
    color: blue;
    font-size: 20px;
    font-weight: 100;
}
.allcategories
{
    text-decoration: none;
    color: blue;
    font-size: 20px;
    font-weight: 100;
}
.list-group-item
{
    background-color: transparent;
}
.deletecategorie
{
    float: right;
}